/* Tags Page */
.tag-box {
  .article {
    &:last-child {
      margin-bottom: 0;
    }
  }
}

.tag {
  transform: translate(0);
  padding: 96px 0 96px;
  margin-bottom: 32px;
  border-radius: 22px;
  overflow: hidden;
  box-shadow: var(--box-shadow-rgba);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: var(--background-alt-color);

  .tag__inner {
    display: inline-flex;
    align-items: center;
    padding: 16px;
    margin-left: 32px;
    border-radius: 22px;
    overflow: hidden;
    background-color: var(--background-alt-color);
  }

  .tag__title {
    margin: 0;
    padding: 0 32px 0 16px;
    font-size: 28px;
    font-weight: 700;
    color: var(--heading-font-color);
    text-transform: capitalize;
  }

  .tag__counter {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 16px 32px;
    border-radius: 22px;
    background: var(--background-color);
    color: var(--heading-font-color);

    span {
      font-size: 40px;
      line-height: 1;
      font-weight: 700;
    }

    small {
      font-size: 14px;
      font-weight: 500;
      text-transform: uppercase;
    }
  }

  @media only screen and (max-width: $desktop) {
    .tag__inner {
      display: flex;
      margin: 0 32px;
      border-radius: 16px;
    }

    .tag__title {
      flex-grow: 1;
    }
  }

  @media only screen and (max-width: $tablet) {
    padding: 60px 0;

    .tag__title {
      font-size: 28px;
    }
  }

  @media only screen and (max-width: $mobile) {
    padding: 48px 0;

    .tag__inner {
      margin: 0 20px;
    }

    .tag__title {
      font-size: 20px;
    }

    .tag__counter {
      display: none;
    }
  }
}