{% if paginator.page == 1%}
<!-- begin author -->
<section class="author">
  <div class="container">
    <div class="row">
      <div class="col col-12">

        <div class="author__inner">

          {% if site.author.image %}
          <div class="author__left">
            <div class="author__image">
              <img class="lazy" data-src="{{ site.author.image }}" alt="{{ site.author.name }}'s Picture">
            </div>
          </div>
          {% endif %}

          <div class="author__right">
            <h1 class="author__title">{{ site.author.title }}</h1>
            <p class="author__description">{{ site.author.description }}</p>
            <div class="author__contact">
              {% include social-links.html %}
            </div>
          </div>

        </div>

      </div>
    </div>
  </div>
</section>
<!-- end author -->
{% endif %}