<div class="col col-4 col-d-6 col-t-12">
  <div class="widget widget-nav">
    <div class="widget__head">
      <h3 class="widget__title">Menu</h3>
    </div>
    <ul class="nav__list list-reset">
      <li class="nav__item">
        <a href="{{ site.baseurl }}/" class="nav__link">Home</a>
      </li>
      {% for page in site.pages %}
        {% unless page.name == 'tags.html' or page.name == '404.html' %}
          {% if page.title %}
          <li class="nav__item">
            <a href="{{ page.url | prepend: site.baseurl }}" class="nav__link">{{ page.title }}</a>
          </li>
          {% endif %}
        {% endunless %}
      {% endfor %}
    </ul>
  </div>
</div>